* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: orangered;
  text-align: center;
}
h2,
h2 a {
  padding-left: 15px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: yellow;
}
p,
a,
h3,
ol,
ul,
li {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: white;
}
h4 {
  padding-left: 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
}
span a {
  color: lightskyblue;
  font-style: italic;
}
.comments {
  font-style: italic;
  text-decoration: underline;
}
h2 #back2top {
  padding-top: 100px;
}
.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: orangered;
  z-index: 1;
}
header li {
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.bg-poster {
  margin-top: 60px;
  display: flex;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/img/01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wallpaper {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/assets/img/brick-texture.png);
  background-size: 500px;
  background-repeat: repeat;
  background-position: center;
}
.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-link {
  display: block;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-link:hover {
  color: black;
  transform: scale(1.2);
}
.nav-page {
  padding-top: 120px;
}
.subs a,
p[subs] {
  color: lightskyblue;
}
.container {
  width: 90%;
  margin: auto;
  position: relative;
}
.content {
  min-height: calc(100vh - 100px - 100px);
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.gallery-menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}
.gallery-menu__item {
  width: calc(33% - 10px / 3);
  position: relative;
  height: 300px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid lightskyblue;
}
.gallery-menu__item:hover {
  border: none;
}
.gallery-menu__link img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
  max-height: 300px;
}
.item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17%;
  background-color: #f6f6f6;
  vertical-align: middle;
  text-align: center;
}
.item__title h6 {
  text-align: center;
  color: #bababa;
  text-transform: uppercase;
  margin: 4% 0 0 0;
  font-size: 0.9em;
}
.item__title p {
  opacity: 0.9;
  text-align: center;
  color: #bababa;

  font-size: 0.8em;
  margin: 0;
  transition-delay: 0.2s;
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.repertoire-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 auto;
}
.repertoire-menu {
  display: flex;
}
.repertoire-menu__body {
  flex: 1 0 25%;
  text-align: start;
}
.repertoire-menu__list,
.repertoire-menu__body ol,
.repertoire-menu__item--child {
  list-style: none;
}
.repertoire-menu__item {
  position: relative;
}
.repertoire-menu__item .marker-category {
  position: absolute;
  color: #e8603c;
  font-size: 10px;
  left: -30px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.repertoire-menu__item--parent {
  position: relative;
  margin-top: 20px;
}
.repertoire-menu__item--child li {
  position: relative;
}
.new::after {
  content: "new";
  color: white;
  background-color: orange;
  font-size: 90%;
  padding: 2px;
  margin-left: 3px;
}
.marker-category--child {
  position: absolute;
  color: #e8603c;
  font-size: 10px;
  left: -30px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
fieldset {
  max-width: 500px;
  margin: 10px auto;
  background-color: orangered;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
legend {
  padding-top: 50px;
  transform: translateY(-10px);
  color: skyblue;
}
input {
  width: 100%;
  padding: 10px 20px;
}
input[type="file"] {
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
textarea {
  width: 100%;
  padding: 10px 20px;
  resize: vertical;
  min-height: 75px;
  max-height: 35vh;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-group-sm {
  margin: 10px 0 5px;
}
.form-group-sm:hover {
  outline: 2px dotted white;
}
.capitalized {
  text-transform: capitalize;
}
input[type="submit"],
input[type="reset"] {
  transition: 0.5s;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: skyblue;
}
.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}
label,
button {
  margin-top: 5px;
  margin-bottom: 5px;
  color: lightskyblue;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
label[file] {
  color: orangered;
  background-color: yellow;
}
button {
  color: orangered;
  background-color: yellow;
}
.contacts-info {
  text-align: center;
}
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: rgb(44, 44, 44);
  height: 50px;
  text-align: center;
  font-size: 14px;
  font-family: serif;
  font-weight: normal;
  color: orangered;
  padding: 15px;
}
.footer-container::after {
  content: "2022 Mr.Lightman";
}
